html {
    scroll-behavior: smooth;
}

* {
    font-family: "Istok Web", sans-serif;
}

header{
    display: inline;
}

body {

    margin: 0;
    padding: 0;
}



/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 0;
    position: sticky;
    z-index: 9999;
}

.container-search {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.container-search input {
    margin-left: 10px;
    padding: 10px;
    border: none;
    padding-right: 50%;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 16px;
    /* Ukuran font placeholder */
    line-height: 24px;
    /* Ketinggian baris placeholder */
    font-weight: bolder;
}

.container-search i {
    font-size: 26px;
}

.container-welcome {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.container-welcome img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 10px;
}

.container-welcome i {
    margin-left: 25px;
    font-size: 22px;
}

/* navbar end */



/* filter-container */
.filter-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-item ul {
    display: flex;
    align-items: center;
}

.filter-item li {
    margin-right: 10px;
    list-style-type: none;
}

.filter-item a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.filter-item a:hover {
    transition: all 0.20s ease-in-out;
    color: white;
    background-color: blueviolet;
}

.new-item {
    margin-right: 60px;
}

.new-item button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
}

.new-item button:hover {
    transition: all 0.20s ease;
    background-color: purple;
}

/* filter-container end */




/* form input */
.form-input {
    margin-left: 60px;
    margin-top: 50px;
}

.judul {
    margin-bottom: 20px;
}

.judul input {
    width: 28%;
}

.judul label {
    margin-right: 10px;
    display: block;
}

.isi textarea{
    width: 28%;
}

.isi label {
    margin-right: 32px;
    display: block;
}

.tombol {
    margin-top: 15px;
}

.tombol button {
    width: 370px;
    padding: 5px;
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.tombol button:hover {
    transition: all 0.20s ease-in-out;
    background-color: rgba(128, 0, 128, 0.856);
}

/* form input end */



/* container note */
#container-note {
    display: grid;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.note-list {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
}

.color-note{
    max-width: 100%;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
    background-color: rgba(137, 43, 226, 0.658);
    padding: 0;
}

.note-list li {
    margin-bottom: 50px;
    font-size: large;
    font-weight: bold;
}

/* container note end */



/* footer */
.container-footer {
    padding: 20px;
    background-color: blueviolet;
    color: white;
}

.container-footer p {
    text-align: center;
}

/* footer end */



/* 768 */
@media screen and (max-width: 768px) {
    #container-note {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* 768 end */



/* 425 */
@media screen and (max-width: 425px) {
    #container-note {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-welcome p {
        display: none;
    }

    .container-welcome i {
        display: none;
    }

    .container-search input {
        padding: 0;
    }

    .filter-item{
        display: none;
    }

    .filter-item li {
        display: none;
    }

    .new-item button {
        border: none;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: blueviolet;
        color: white;
        font-size: 10px;
    }

    .new-item {
        margin-left: 21px;
    }

    .container-search {
        margin-left: 5px;
    }

    .container-welcome {
        margin-right: 5px;
    }

    .tombol button {
        width: 200px;
    }

    .judul label {
        display: block;
    }

    .judul input {
        width: 80%;
    }

    .isi label{
        display: block;
    }

    .isi textarea{
        width: 80%;
    }

    .container-footer p{
        font-size: 10px;
    }
}
/* 425 end */



/* 375 */
@media screen and (max-width: 375px) {
    #container-note {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-welcome p {
        display: none;
    }

    .container-welcome i {
        display: none;
    }

    .container-search input {
        padding: 0;
    }

    .filter-item{
        display: none;
    }

    .filter-item li {
        display: none;
    }

    .new-item button {
        border: none;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: blueviolet;
        color: white;
        font-size: 10px;
    }

    .new-item {
        margin-left: 21px;
    }

    .container-search {
        margin-left: 5px;
    }

    .container-welcome {
        margin-right: 5px;
    }

    .tombol button {
        width: 200px;
    }

    .judul label {
        display: block;
    }

    .judul input {
        width: 193px;
    }

    .container-footer p{
        font-size: 10px;
    }
}
/* 375 end */



/* 320 */
@media screen and (max-width: 320px) {
    #container-note {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-welcome p {
        display: none;
    }

    .container-welcome i {
        display: none;
    }

    .container-search input {
        padding: 0;
    }

    .filter-item{
        display: none;
    }

    .filter-item li {
        display: none;
    }

    .new-item button {
        border: none;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: blueviolet;
        color: white;
        font-size: 10px;
    }

    .new-item {
        margin-left: 21px;
    }

    .container-search {
        margin-left: 5px;
    }

    .container-welcome {
        margin-right: 5px;
    }

    .tombol button {
        width: 200px;
    }

    .judul label {
        display: block;
    }

    .judul input {
        width: 193px;
    }
}
/* 320 end */